
.subtitle1 h5 {
    color: var(--Black, #16205F);
    font-family: Poppins;
    font-size: 22px;
}

.subtitle1 h2 {
    color: var(--Black, #16205F);
    font-family: Poppins;
    font-size: 46px;
    font-style: normal;
    padding-top: 2px;
    font-weight: 600;
}

.subtitle1 p {
    color: var(--Black, #16205F);
    font-family: Poppins;
    padding-bottom: 15px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card h5  {
    padding-left: 50px;
    margin: 10px;
}

.subtitle1 p  {
    padding-left: 50px;
    margin: 10px;
}

.subtitle1 h2 {
    padding-left: 50px;
    margin: 10px;
}







.containerr h3  {
    color: var(--Black, #16205F);
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px; /* 128.571% */
}

.containerr p {
    color: var(--Black, #16205F);
}


.containerr {
    display: flex;
    padding: 60px 40px;
}
